$primary: #FF2F92;
$primary-hover: #E0267F;
$primary-background: #FFE4F1;

$secondary: #121212;
$secondary-hover: #1A1A1A;
$secondary-background: #2A2A2A;

$tertiary: #F7F6F3;
$tertiary-hover: #EFEDE8;
$tertiary-background: #6E6E6E;