@use "./colours" as *;

body {
  margin: 0;
  background-color: $primary-background;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  color: $tertiary;
}

section {
  padding: 1rem;

  &:nth-child(even) {
    background-color: $primary-background;

    p {
      color: $secondary;
    }
  }

  &:nth-child(odd) {
    background-color: $secondary-background;
    color: $tertiary;
    border-radius: 0 1.75rem 0 1.75rem;

    a {
      color: $tertiary;
    }
  }

  &:nth-child(1) {
    border-radius: 0 0 0 1.75rem;
  }

  &:last-of-type {
    border-radius: 0 1.75rem 0 0;
  }

  &:nth-last-of-type(2):has(+ section:nth-last-of-type(1):nth-child(even)) {
    border-radius: 0 1.75rem 0 0;
  }
}
