html {
  scroll-behavior: smooth;
}

.about {
  background-color: red;
  height: 80vh;
}

.contact {
  background-color: blue;
  height: 20vh;
}

.experience {
  background-color: yellow;
  height: 80vh;
}

.history {
  background-color: green;
  height: 80vh;
}
