@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html {
  scroll-behavior: smooth;
  font-family: 'Roboto+Condensed', sans-serif;
}

.navigation {
  height: 8vh;
  background-color: aquamarine;
}

.about {
  background-color: red;
  height: 80vh;
}

.contact {
  background-color: blue;
  height: 20vh;
}

.experience {
  background-color: yellow;
  height: 80vh;
}

.history {
  background-color: green;
  height: 80vh;
}
