//NEW COLOUR SCHEME;
$base-grey: #3A4249;
$primary-pink: #000000;
$secondary-pink: #FB8AA4;
$light-green: #ABF62D;
$medium-green: #77AC1F;
$dark-green: #009177;

html {
  scroll-behavior: smooth;
  font-family: "Urbanist", sans-serif;
}

body {
  margin: 0;
  background-color: #D6A3FB;
  padding-right: 0!important;
}

.material-header {
  height: 8vh;
}

.header-item {
  color: $secondary-pink;
  text-align: center;
  line-height: 8vh;
  text-decoration: none;
}

@media (min-width: 768px) {
  .icon-item {
    background-image: url("../../static/images/favicon/icon.png");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 8vw;
  }
}

.navigation {
  height: 8vh;
  background-color: $light-green;
}

.about {
  height: auto;
}

.contact {
  background-color: $light-green;
  height: 8vh;
}

.portfolio {
  height: auto;
}

.experience {
  background: linear-gradient(-45deg, $light-green, $medium-green, $light-green, $medium-green);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: auto;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.portfolio-grid {
  display: grid;
  gap: 1vw;
  padding: 0 1vh 2vh 1vh;

  a, p, h3 {
    padding-left: 1vw;
  }

  .no-interest {
    padding-bottom: 0;
  }
}

.one {
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 2;
  grid-row: 1;
}

.three {
  grid-column: 3;
  grid-row: 1;
}

.four {
  grid-column: 4;
  grid-row: 1;
}

@media only screen and (max-width: 768px) {
  .portfolio-grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1vw;
  }

  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two {
    grid-column: 1;
    grid-row: 2;
  }
  .three {
    grid-column: 1;
    grid-row: 3;
  }
  .four {
    grid-column: 1;
    grid-row: 4;
  }
}
