//NEW COLOUR SCHEME;
$base-text: #000000;
$alternate-text: #000000;
$primary-pink: #F9537B;
$secondary-pink: #FB8AA4;
$base-colour-back: #FDF5DF;
$medium-green: #4DB4A3;
$dark-green: #009177;

.gap-reduction {
  margin-top: -3.25rem;
}

.main-content {
  min-height: 80vh;
  height: auto;

  p {
    position: relative;
    padding: 2vh 3vh 0 3vh;
    font-size: 2rem;
  }

  &::before {
    position: absolute;
    top: 8vh;
    right: 0;
    bottom: 0;
    left: 0;
    height: 85vh;
  }
}

a {
  color: $base-text;
}

h1 {
  position: relative;
  color: $base-text;
  font-size: 4.5rem;
  line-height: 0.9;
  padding-left: 2vw;
}

h2 {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: $base-text;
  padding-left: 2vw;
}

.alternate-text {
  color: $alternate-text;
}

.about-me-profile {
  display: flex;
  padding-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .about-me-profile {
    display: block;
  }

  .extend-image {
    width: 95% !important;
  }
}

.tech-assets {
  display: none;
}

@media only screen and (min-width: 1080px) {
  .tech-assets {
    display: block;
    padding: 2vw;
  }
}

.logo-grid {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-gap: 1rem 0;
}

.item1 {
  grid-column: 1 / 2;
}

h4 {
  color: $base-text;
  padding-left: 1vw;
}

p {
  padding: 1vw 2vw;
  font-size: 0.95rem;
  color: $base-text;
}

.grid-text {
  padding: 1vw;
  color: $base-text;
}

.icon-grid {
  padding: 0;
  display: grid;
  grid-template-columns: auto;
}
