.test {
  background-image: url("../../../images/home-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  height: 80vh;
}

.header {
  font-size: 5rem;
  font-weight: bold;
}

.sub-header {
  font-size: 2rem;
  font-weight: lighter;
}
