//NEW COLOUR SCHEME;
$base-text: #000000;
$alternate-text: #000000;
$primary-pink: #F9537B;
$secondary-pink: #FB8AA4;
$base-colour-back: #FDF5DF;
$medium-green: #4DB4A3;
$dark-green: #009177;

.test {
  min-height: 80vh;
  height: auto;

  p {
    position: relative;
    padding: 2vh 3vh 0 3vh;
    font-size: 2rem;
  }

  &::before {
    content: "";
    background-image: url("../../../../static/images/home-background.jpg");
    background-position-y: -35rem;
    background-position-x: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 8vh;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    height: 85vh;
  }
}

a {
  color: $base-text;
}

h1 {
  position: relative;
  color: $base-text;
  font-size: 4.5rem;
  line-height: 0.9;
  padding-left: 2vw;
}

h2 {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: $base-text;
  padding-left: 2vw;
}

.alternate-text {
  color: $alternate-text;
}

h4 {
  color: $base-text;
  padding-left: 1vw;
}

p {
  padding: 1vw 2vw;
  color: $base-text;
}

.grid-text {
  padding: 1vw;
  color: $base-text;
}

.icon-grid {
  padding: 0;
  display: grid;
  grid-template-columns: auto;
}

@media only screen and (max-width: 768px) {
  .icon-grid {
    padding: 0;
    display: grid;
    grid-template-columns: auto;
  }

  .end-item {
    justify-self: end;
    grid-column: 2;
  }

  .start-item {
    justify-self: start;
    grid-column: 1;
  }
}
