.content {
  display: grid;
  padding-left: 2vw;
  padding-right: 2vw;
  grid-template-columns: auto auto;
  p {
    padding: 0.5vw;
    max-width: 35vw;
  }
}

.date {
  text-align: right;
  font-weight: bold;
}