@use "../../styles/colours" as *;

.footer-container {
  padding: 1rem;
  background-color: $secondary-background;
  margin-top: auto;

  &:nth-child(even) {
    background-color: $secondary-background;
    border-radius: 0;
    margin-top: -1px;
  }

  &:last-of-type {
    p {
      color: $tertiary;
    }
  }
}