.video-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

/* Desktop: 2 columns side by side */
@media (min-width: 768px) {
  .video-grid {
    div {
      flex-basis: 45%;
      flex-grow: 1;
      padding: 0.5rem;
    }
  }
}

.video-grid p {
  text-align: center;
  margin-top: 0.5rem;
  font-weight: 500;
}